@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --branding-color: #6c63ff;
}


body {
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 1;
  padding-top: 20px;
}

p {
  background: #f9f7fe;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links :hover {
  color: beige;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 150px 20px;
}
.navbar {
  background: #f9f7fe;
  --bs-navbar-padding-y: 1rem;
}
.logo {
  display: block;
  max-width: 100px;
}
.footer {
  padding: 20px 5px;
  background: #f9f7fe;
  text-align: center;
}

#footer-work {
  margin-top: 290px;
}

footer .social-links a {
  margin: 0 10px;
  margin-top: 10px;
  color: var(--branding-color);
  font-size: 13px;
  border-radius: 50%;
}
.btn-branding {
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 20px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--heading-font-family);
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}
.about-me h1 {
  font-size: 50px;
}

.about-me h3 {
  font-size: 20px;
  line-height: 2;
  font-weight: lighter;
}

.about-me-section {
  text-align: center;
}
.about-me-section .row .about-me h1 {
  font-size: 50px;
  font-weight: bold;
}
.about-me-section .row .about-me p {
  font-size: 15px;
}
.work-p {
  background-color: white;
}
.codedby {
 font-size: 14px; 
}
.footer1 {
  padding: 50px 5px;
  background: #f9f7fe;
  text-align: center;
}
.container {
  margin-bottom: 10px;
}